.Homepage {
    width: 100%;
    height: calc(100vh - 50px); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    background-color: rgb(198, 201, 198);
  }
  
  .homepageContainer {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border: 2px solid #5b5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  